<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Patrick+Hand&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/82eb69e53c.js" crossorigin="anonymous"></script>

    <title>VoteMe!</title>
</head>
<body>
    <div class="flex">
        <div class="flex items-center nav align-top pl-40 pr-40 w-full h-16 border-b drop-shadow-lg justify-between">
            <p class="text-2xl font-patrick-hand align-middle">Vote Me</p>
            <div class="links">
                <a href="/feed" class="text-sm pl-2">Feed</a>
                <a href="/create" class="text-sm pl-2">Create</a>
            </div>
        </div>
    </div>