<%- include('partials/nav'); -%>
<div class="flex flex-col h-screen items-center justify-center">
    <div id="userCount"></div>

    <p class="text-2xl sm:text-5xl animate-bounce hover:cursor-pointer hover:underline underline-offset-0">Simple Poling App 😎</p>
    <a href="/feed" class="rounded-full mt-10 bg-teal-300 p-3 border-0 hover:bg-teal-400 transition-all duration-75 drop-shadow-lg text-white">Go To Feed!</a>
</div>
<%- include('partials/foot'); -%>